/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.control {
    margin-bottom: 20px;
}

.control-title {
    padding: 8px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

.control-color {
    padding: 8px 0px;
}

.control-routing-key {
    padding: 8px 0px;
}

.color-swatch {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 7px;
    border-radius: 3px;
}

.color-swatch:hover {
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

.color-swatches .blue{
    background-color: #428bca;
}

.color-swatches .green{
    background-color: #5cb85c;
}

.color-swatches .light-blue{
    background-color: #5bc0de;
}

.color-swatches .orange{
    background-color: #f0ad4e;
}

.color-swatches .red{
    background-color: #d9534f;
}

.color-swatch-clear {
    float: left;
    margin: 0 7px;
}

.color-swatch-clear:hover {
    cursor: pointer;
}

.binding-key {
    margin-right: 10px;
    cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logo-small {
    width: 65px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
}
