<!-- Server status -->
<div class="server row">
  <div class="col-md-12">
    <div class="alert alert-warning" ng-show="error">{{ error }}</div>
    <div class="alert alert-success" ng-hide="error">Server is up</div>
  </div>
</div>
<!-- Controls to all-->
<div class="control row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="control-title">Send to all</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="control-color">
          <div class="color-swatches">
            <div class="color-swatch blue" ng-click="sendColorToAll('#428bca')"></div>
            <div class="color-swatch green" ng-click="sendColorToAll('#5cb85c')"></div>
            <div class="color-swatch light-blue" ng-click="sendColorToAll('#5bc0de')"></div>
            <div class="color-swatch orange" ng-click="sendColorToAll('#f0ad4e')"></div>
            <div class="color-swatch red" ng-click="sendColorToAll('#d9534f')"></div>
            <a class="color-swatch-clear" ng-click="sendClearToAll()">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Controls to some-->
<div class="control row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="control-title">Send to some</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="control-routing-key">
          <input class="form-control" id="routingKey" placeholder="Enter routing key">
        </div>
      </div>
      <div class="col-md-9">
        <div class="control-color" style="padding-top: 14px;">
          <div class="color-swatches">
            <div class="color-swatch blue" ng-click="sendColorToAll('#428bca')"></div>
            <div class="color-swatch green" ng-click="sendColorToAll('#5cb85c')"></div>
            <div class="color-swatch light-blue" ng-click="sendColorToAll('#5bc0de')"></div>
            <div class="color-swatch orange" ng-click="sendColorToAll('#f0ad4e')"></div>
            <div class="color-swatch red" ng-click="sendColorToAll('#d9534f')"></div>
            <a class="color-swatch-clear" ng-click="sendClearToAll()">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Users -->
<div class="users row" ng-show="users">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Vendor</th>
          <th>Platform</th>
          <th>Binding keys</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy:name">
          <td>{{ user.name }}</td>
          <td>{{ user.vendor }}</td>
          <td>{{ user.platform }}</td>
          <td>{{ user.bindingKeys }}</td>
          <td>
            <div class="color-swatches">
              <div class="color-swatch blue" ng-click="user.sendColor('#428bca')"></div>
              <div class="color-swatch green" ng-click="user.sendColor('#5cb85c')"></div>
              <div class="color-swatch light-blue" ng-click="user.sendColor('#5bc0de')"></div>
              <div class="color-swatch orange" ng-click="user.sendColor('#f0ad4e')"></div>
              <div class="color-swatch red" ng-click="user.sendColor('#d9534f')"></div>
              <a class="color-swatch-clear" ng-click="user.clear()">Clear</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
